<script type="text/javascript">//<![CDATA[
function openKai(port) {
	var target = new URL(window.location.href);
	target.protocol = 'http:';
	target.port = String(port);
	target.pathname = '/apps/kai/web/';
	target.search = '';
	target.hash = '';

	var authUrl = '<%=url("admin/services/linkease_auth/auth")%>';
	window.open(authUrl + '?return=' + encodeURIComponent(target.href), '_blank', 'noopener');
}

XHR.poll(5, '<%=url("admin/services/kai_status")%>', null,function(x, st){
	var el = document.getElementById('kai_status');
	if (st && el){
		if(!st.running){
			el.innerHTML = '<br/><em style=\"color:red\"><%:The KAI service is not running.%></em>';
		}
		if (st.running){
			el.innerHTML = '<br/><em style=\"color:green\"><%:The KAI service is running.%></em>'
				+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Click to open KAI%> \" onclick=\"openKai(" + Number(st.port) + ")\"/>";
		}
	}
});
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Status%></legend>
	<p id="kai_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
